<div class="container-fluid overflow-hidden" *ngIf="mode == 1">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div
                class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/"
                    class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5">M<span class="d-none d-sm-inline">enu de Opções</span></span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
                    id="menu">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-card-list"></i><span class="ms-1 d-none d-sm-inline">Categorias</span>
                        </a>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-bag-x-fill"></i><span class="ms-1 d-none d-sm-inline">Produtos</span>
                        </a>

                    </li>
                    <li>
                        <a class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-people"></i><span class="ms-1 d-none d-sm-inline">Clientes</span></a>
                    </li>

                    <li>
                        <a class="nav-link px-sm-0 px-2">
                            <i class="bi bi-truck"></i><span class="ms-1 d-none d-sm-inline">Pedidos</span></a>
                    </li>
                    <li>
                        <a class="nav-link px-sm-0 px-2">
                            <i class="bi bi-clipboard-data"></i><span class="ms-1 d-none d-sm-inline">Relatórios</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-sm-0 px-2">
                            <i class="bi bi-key"></i><span class="ms-1 d-none d-sm-inline">Usuários</span> </a>
                    </li>
                    <li>
                        <a class="nav-link px-sm-0 px-2">
                            <i class="bi bi-x-square-fill"></i><span class="ms-1 d-none d-sm-inline">Sair</span> </a>
                    </li>
                </ul>
                <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">

                </div>
            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3 class="text-center">Editor de categoria</h3>
                        </div>
                    </div>
                    <div class="row" *ngIf="mode == 1">
                        <div class="col-12">
                            Atualizando Categoria
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="txtNomeCategoria" class="visually-hidden">Digite o Nome da
                                        Categoria</label>
                                    <input type="text" id="txtNome" [(ngModel)]="categoria.nome">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-primary" (click)="incluirNovaCategoria()">Atualizar
                                    Dados</button>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-primary" routerLink="/admin">Voltar</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="mode == 0">
                        <div class="col-12">
                            Inserindo Nova Categoria
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="txtNomeCategoria" class="visually-hidden">Digite o Nome da
                                        Categoria</label>
                                    <input type="text" id="txtNome" [(ngModel)]="categoria.nome">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary" (click)="incluirNovaCategoria()">Atualizar
                                    Dados</button>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
</div>


<div class="col d-flex flex-column h-sm-100" *ngIf="mode == 0">
    <main class="row overflow-auto">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-center">Editor de categoria</h3>
                </div>
            </div>
            <div class="row" *ngIf="mode == 1">
                <div class="col-12">
                    Atualizando Categoria
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="txtNomeCategoria" class="visually-hidden">Digite o Nome da Categoria</label>
                            <input type="text" id="txtNome" [(ngModel)]="categoria.nome">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary" (click)="incluirNovaCategoria()">Atualizar Dados</button>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-primary" routerLink="/admin">Voltar</a>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="mode == 0">
                <div class="col-12">
                    Inserindo Nova Categoria
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="txtNomeCategoria" class="visually-hidden">Digite o Nome da Categoria</label>
                            <input type="text" id="txtNome" [(ngModel)]="categoria.nome">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="incluirNovaCategoria()">Atualizar Dados</button>
                    </div>
                </div>
            </div>
        </div>