<div class="container">
    <h3>Gerenciar Categorias</h3>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome da Categoria</th>
                </tr>
            </thead>
            <tbody>
                <!--Aqui vem o loop de categoria-->
                <tr *ngFor="let ITEM of lista">
                    <td scope="row">{{ITEM.id}}</td>
                    <td><a routerLink='/editorcategoria/{{ITEM.id}}'>{{ITEM.nome}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>