<div class="container">
    <h3>Gerenciar Produtos</h3>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <!--<th scope="col">ID</th>-->
                    <th scope="col">Foto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Em Destaque</th>
                    <th scope="col">Disponivel</th>
                    <th scope="col">Compradores</th>

                </tr>
            </thead>
            <tbody>
                <!--Aqui vem o loop de categoria-->
                <tr *ngFor="let ITEM of lista">
                    <!---- <td scope="row">{{ITEM.id}}</td>-->
                    <td><img src="{{ITEM.link}}" height="50px"></td>
                    <td><a routerLink='/editorproduto/{{ITEM.id}}'>{{ITEM.nome}}</a></td>
                    <td><strong>{{ITEM.preco | currency : 'BRL'}}</strong></td>
                    <td>{{ITEM.categoria.nome}}</td>
                    <td>
                        <div class="form-check form-switch"> <input class="form-check-input" type="checkbox"
                                id="chkDestaque" [(ngModel)]="ITEM.destaque" (change)="destaca(ITEM)"></div>
                    </td>
                    <td>
                        <div class="form-check form-switch"> <input class="form-check-input" type="checkbox"
                                id="chkDisponivel" [(ngModel)]="ITEM.disponivel" (change)="disponibiliza(ITEM)"></div>
                    </td>
                    <td align="center"><i class="bi bi-person-lines-fill" (click)="buscarCompradores(ITEM.id)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" style="visibility: hidden;" id="btnModal" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#exampleModal">
    ...
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Compradores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col">Nome</th>
                            <th class="col">WhatsApp</th>
                            <th class="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ITEM of compradores">
                            <td class="col">{{ITEM.nome}}</td>
                            <td class="col">{{ITEM.telefone}}</td>
                            <td class="col">{{ITEM.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>