<body class="text-center">
   
    <main class="form-signin">
      
        <div  class="d-flex justify-content-center"><img class="mb-4" src="./assets/logo.png" alt="" height="57"></div>
        <h1 class="h3 mb-3 fw-normal">Area Adminstrativa</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" [(ngModel)]="usuario.username">
          <label for="floatingInput">Seu Login</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="usuario.senha">
          <label for="floatingPassword">Sua Senha</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary" (click)="autenticar()">Conectar-se</button>
        
    </main>

    
    
        
</body>
