<body class="text-center">
   
    <main class="form-signin">
      
        <div  class="d-flex justify-content-center"><img class="mb-4" src="./assets/logo.png" alt="" height="57"></div>
        <h1 class="h3 mb-3 fw-normal">Area Adminstrativa</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" [(ngModel)]="usuario.username">
          <label for="floatingInput">Seu Login</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="usuario.senha">
          <label for="floatingPassword">Sua Senha</label>
        </div>
    
        <button class="w-100 btn btn-lg btn-primary" (click)="autenticar()">Conectar-se</button>
        
    </main>

    <!-- Button trigger modal -->
<button id="btnModal" style="visibility:hidden;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  ....
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Erro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Usuario/Senha inválidos ou inválidos
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


   
  
    
    
        
</body>
